# User dependent stuff
cmake/user.cmake
build*/
kaiju.sublime-workspace

# Related to unit testing
external/FARGPARSE-*/
external/GFTL-*/
external/GFTL_SHARED-*/
external/PFUNIT-*/
# skip F90 files in the tests folder, except in specific subfolders
tests/*/*.F90
!tests/helperCode/*.F90
!tests/helperCode_mpi/*.F90

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.pyc
*__genmod.f90

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.x

# Data files
*.mp4
*.h5
*.xmf
*.hdf
*.png
*.h5part

# Mac nonsense
*.DS_STORE

#Notebook checkpoints
analysis/notebooks/Tutorial/.ipynb_checkpoints

# Visual Studio Code configuration directory
.vscode/

# Visual Studio Code environment files
.env
