# User dependent stuff
cmake/user.cmake
build/

# Related to unit testing
external/FARGPARSE-0.9/
external/GFTL-1.1/
external/GFTL_SHARED-1.0/
external/PFUNIT-4.1/
tests/*/*.F90

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.pyc
*__genmod.f90

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.x

# Data files
*.mp4
*.h5
*.xmf
*.hdf
*.png
*.h5part

# Mac nonsense
*.DS_STORE
