#Modify if needed paths to a grid file, output file and WSA fits file

[Gamera]
gameraGridFile = heliogrid-h.h5
GridDir = /glade/u/home/elenap/gameraHelio/grid
gameraIbcFile = innerbc.h5
IbcDir = /glade/u/home/elenap/gameraHelio/ibc

[WSA]
wsafile = /glade/u/home/elenap/gameraHelio/WSAfiles/vel_201003262000R011_agong.fits
density_temperature_infile = no
gauss_smooth_width = 0 ; 8
plots = yes
normalized = no

[Constants]
gamma = 1.5  ;1.05
NO2   = 4

[Normalization]
B0 = 1.e-3  ; 100 nT
n0 = 200.   ; 200/cc


