[Gamera]
gameraGridFile = heliogrid_1024x512x1024.h5
Dir = /Users/merkivg1/Git/kaiju/gamera/examples/helio

[WSA]
wsafile = /Users/merkivg1/amun/vgm/work/LFM-helio/Fast_Latitude_Scan/ulys/WSA_SUB2.1/Baseline/1892.fits
density_temperature_infile = yes
gauss_smooth_width = 0 ; 8
plots = yes
normalized = yes

[Constants]
gamma = 1.5  ;1.05
NO2   = 4

[Normalization]
B0 = 1.e-3  ; 100 nT
n0 = 200.   ; 200/cc


