#Modify if needed paths to a grid file, output file and WSA fits file

[Gamera]
gameraGridFile = heliogrid.h5
GridDir = ./
gameraIbcFile = innerbc.h5
IbcDir = ./

[Grid]
tMin = 0.1
tMax = 0.9
Rin = 21.5
Rout = 215.
Ni = 128
Nj = 64
Nk = 128

[WSA]
wsafile = examples/helio/vel_201708132000R002_ahmi.fits ; CR2193 by default
density_temperature_infile = no
gauss_smooth_width = 0 ; 8
plots = yes
normalized = no

[Constants]
gamma = 1.5  ;1.05
NO2   = 4

[Normalization]
B0 = 1.e-3  ; 100 nT
n0 = 200.   ; 200/cc



