#Modify if needed paths to a grid file, output file and WSA fits file

[Gamera]
gameraGridFile = heliogrid.h5
GridDir = /glade/u/home/elenap/gameraHelio/OHelio/grid
gameraIbcFile = innerbc.h5
IbcDir = /glade/u/home/elenap/gameraHelio/OHelio/ibc

[1AUfiles]
wsafile = /glade/u/home/elenap/gameraHelio/OHelio/1AUfiles/wsa.h5
density_temperature_infile = yes
gauss_smooth_width = 0 ; 8
plots = yes
normalized = yes

[Constants]
gamma = 1.5  ;1.05
NO2   = 4

[Normalization] ; should be normalization from inner helio
Xscale =   1.496e8 !in km
B0 = 5.e-5  ; 5 nT = 5.e-5 Gs
n0 = 10.   ; cm-3
v0 = 400   ; km/s

