ai.cdas==1.2.3
alive_progress==3.1.4
cartopy==0.21.1
cdasws==1.7.43
cdflib==1.0.5
configparser==5.3.0
dataclasses_json==0.5.8
h5py==3.9.0
matplotlib==3.7.1
netCDF4==1.6.4
progressbar==2.5
pyhdf==0.11.3
pytest==7.4.0
scipy==1.10.1
spacepy==0.4.1
sunpy==4.1.7
xarray==2023.1.0

