alive-progress==3.0.1
astropy==4.0.2
cdasws==1.7.31
ConfigParser==5.2.0
dataclasses_json==0.5.7
h5py==3.6.0
matplotlib==3.5.1
netCDF4==1.6.0
numpy==1.21.6
Pillow==9.2.0
progressbar33==2.4
pyhdf==0.10.3
rpy==0.99.2
scipy==1.7.3
spacepy==0.3.0
sunpy==3.1.7
