ai.cdas==1.2.3
alive_progress==3.1.4
cartopy==0.21.1
cdasws==1.7.40
cdflib==0.4.4
configparser==5.2.0
dataclasses_json==0.5.7
h5py==3.7.0
matplotlib==3.5.2
netCDF4==1.6.0
progressbar==2.5
pyhdf==0.10.5
pytest==7.1.2
scipy==1.7.3
spacepy==0.3.0
sunpy==3.1.8
xarray==0.20.2

