00 19 * * 0-5 /bin/bash -l -c "export KMP_INIT_AT_FORK=FALSE; source /glade/u/home/jeffreyg/workspace/kaiju_daily/scripts/setupEnvironment.sh; python3 /glade/u/home/jeffreyg/workspace/kaiju_daily/testingScripts/master.py" >> /glade/u/home/jeffreyg/daily-run.log 2>&1
00 19 * * 6   /bin/bash -l -c "export KMP_INIT_AT_FORK=FALSE; source /glade/u/home/jeffreyg/workspace/kaiju_daily/scripts/setupEnvironment.sh; python3 /glade/u/home/jeffreyg/workspace/kaiju_daily/testingScripts/master.py -a -f -l" >> /glade/u/home/jeffreyg/daily-run.log 2>&1
30 18 * * 1-6 /bin/bash -l -c "export KMP_INIT_AT_FORK=FALSE; source /glade/u/home/jeffreyg/workspace/kaiju_daily/scripts/setupEnvironment.sh; python3 /glade/u/home/jeffreyg/workspace/kaiju_daily/testingScripts/intelChecksReport.py" >> /glade/u/home/jeffreyg/daily-IC_check.log 2>&1
00 18 * * 1-6 /bin/bash -l -c "export KMP_INIT_AT_FORK=FALSE; source /glade/u/home/jeffreyg/workspace/kaiju_daily/scripts/setupEnvironment.sh; python3 /glade/u/home/jeffreyg/workspace/kaiju_daily/testingScripts/unitTestReport.py" >> /glade/u/home/jeffreyg/daily-testcheck.log 2>&1
30 18 * * 0   /bin/bash -l -c 'export KMP_INIT_AT_FORK=FALSE; source $HOME/workspace/kaiju_daily/scripts/setupEnvironment.sh; python3 $KAIJUHOME/testingScripts/intelChecksReport.py -l' >> $HOME/daily-IC_check.log 2>&1
00 18 * * 0   /bin/bash -l -c "export KMP_INIT_AT_FORK=FALSE; source /glade/u/home/jeffreyg/workspace/kaiju_daily/scripts/setupEnvironment.sh; python3 /glade/u/home/jeffreyg/workspace/kaiju_daily/testingScripts/unitTestReport.py -l" >> /glade/u/home/jeffreyg/daily-testcheck.log 2>&1
00 17 * * *   /bin/bash -l -c "export KMP_INIT_AT_FORK=FALSE; source /glade/u/home/jeffreyg/workspace/kaiju_daily/scripts/setupEnvironment.sh; python3 /glade/u/home/jeffreyg/workspace/kaiju_daily/testingScripts/weeklyDashReport.py -l -w $HOME/workspace/kaijuWiki" >> /glade/u/home/jeffreyg/daily-dashcheck.log 2>&1
00 07 * * *   /bin/bash -l -c "export KMP_INIT_AT_FORK=FALSE; source /glade/u/home/jeffreyg/workspace/kaiju_daily_master/scripts/setupEnvironment.sh; python3 /glade/u/home/jeffreyg/workspace/kaiju_daily_master/testingScripts/master.py -a -l" >> /glade/u/home/jeffreyg/daily-run_master.log 2>&1
30 06 * * *   /bin/bash -l -c "export KMP_INIT_AT_FORK=FALSE; source /glade/u/home/jeffreyg/workspace/kaiju_daily_master/scripts/setupEnvironment.sh; python3 /glade/u/home/jeffreyg/workspace/kaiju_daily_master/testingScripts/intelChecksReport.py -l" >> /glade/u/home/jeffreyg/daily-IC_check_master.log 2>&1
00 06 * * *   /bin/bash -l -c "export KMP_INIT_AT_FORK=FALSE; source /glade/u/home/jeffreyg/workspace/kaiju_daily_master/scripts/setupEnvironment.sh; python3 /glade/u/home/jeffreyg/workspace/kaiju_daily_master/testingScripts/unitTestReport.py -l" >> /glade/u/home/jeffreyg/daily-testcheck_master.log 2>&1
00 05 * * *   /bin/bash -l -c "export KMP_INIT_AT_FORK=FALSE; source /glade/u/home/jeffreyg/workspace/kaiju_daily_master/scripts/setupEnvironment.sh; python3 /glade/u/home/jeffreyg/workspace/kaiju_daily_master/testingScripts/weeklyDashReport.py -t -w $HOME/workspace/kaijuWiki" >> /glade/u/home/jeffreyg/daily-dashcheck-master.log 2>&1

