# NOTE: Embedding the command sent to derecho via ssh in double-quotes
# ensures proper remote argument parsing.

# Run quick tests every night on development and master
34 00 * * * ssh derecho "/glade/work/ewinter/mage_testing/derecho/kaiju/ewinter-derecho_testing_fixes/kaiju/testingScripts/run_mage_tests.sh -v -b development 'buildTest.py -lv,ICtest.py -lv'" >> /glade/work/ewinter/mage_testing/derecho/logs/nightly-tests-development.out 2>&1
39 00 * * * ssh derecho "/glade/work/ewinter/mage_testing/derecho/kaiju/ewinter-derecho_testing_fixes/kaiju/testingScripts/run_mage_tests.sh -v -b master      'buildTest.py -lv,ICtest.py -lv'" >> /glade/work/ewinter/mage_testing/derecho/logs/nightly-tests-master.out      2>&1

# Run tests requiring PBS jobs on Sunday nights for development and master.
# Non-dash tests
05 01 * * 0 ssh derecho "/glade/work/ewinter/mage_testing/derecho/kaiju/ewinter-derecho_testing_fixes/kaiju/testingScripts/run_mage_tests.sh -v -b development 'pyunitTest.py -lv,intelChecks.py -lv,unitTest.py -lv'" >> /glade/work/ewinter/mage_testing/derecho/logs/weekly-tests-development.out 2>&1
06 01 * * 0 ssh derecho "/glade/work/ewinter/mage_testing/derecho/kaiju/ewinter-derecho_testing_fixes/kaiju/testingScripts/run_mage_tests.sh -v -b master      'pyunitTest.py -lv,intelChecks.py -lv,unitTest.py -lv'" >> /glade/work/ewinter/mage_testing/derecho/logs/weekly-tests-master.out      2>&1

# Duplicate dashes for development
10 01 * * 0 ssh derecho "/glade/work/ewinter/mage_testing/derecho/kaiju/ewinter-derecho_testing_fixes/kaiju/testingScripts/run_mage_tests.sh -v -b development 'weeklyDash.py -lv'" >> /glade/work/ewinter/mage_testing/derecho/logs/weeklyDash-development-1.out 2>&1
15 01 * * 0 ssh derecho "/glade/work/ewinter/mage_testing/derecho/kaiju/ewinter-derecho_testing_fixes/kaiju/testingScripts/run_mage_tests.sh -v -b development 'weeklyDash.py -lv'" >> /glade/work/ewinter/mage_testing/derecho/logs/weeklyDash-development-2.out 2>&1

# Duplicate dashes for master
20 01 * * 0 ssh derecho "/glade/work/ewinter/mage_testing/derecho/kaiju/ewinter-derecho_testing_fixes/kaiju/testingScripts/run_mage_tests.sh -v -b master 'weeklyDash.py -lv'" >> /glade/work/ewinter/mage_testing/derecho/logs/weeklyDash-master-1.out 2>&1
25 01 * * 0 ssh derecho "/glade/work/ewinter/mage_testing/derecho/kaiju/ewinter-derecho_testing_fixes/kaiju/testingScripts/run_mage_tests.sh -v -b master 'weeklyDash.py -lv'" >> /glade/work/ewinter/mage_testing/derecho/logs/weeklyDash-master-2.out 2>&1
