# NOTE: Embedding the command sent to derecho via ssh in double-quotes
# ensures proper remote argument parsing.

# Run build, initial condition, and Intel Inspector tests every morning on the
# development and master branches. These tests do not require PBS jobs and do
# not modify the source tree.
# The buildTest.py and ICtest.py scripts are run in loud (-l) mode, so their
# results are always posted to Slack, on the #kaijudev channel.
# The intelChecks.py script is run in slack-on-fail (-s) mode, so that the
# job submission is reported to Slack only if there is a problem. The report
# generated for the Intel checks is run in loud mode, so the results are
# always reported to Slack.
05 00 * * * ssh derecho "/glade/u/home/ewinter/scratch/mage_testing/kaiju-private/ewinter-derecho_testing/kaiju-private/testingScripts/run_mage_tests.sh -v -b development 'buildTest.py -sv,ICtest.py -sv,intelChecks.py -sv'" >> /glade/u/home/ewinter/scratch/mage_testing/logs/nightly-tests-1-development.out 2>&1
10 00 * * * ssh derecho "/glade/u/home/ewinter/scratch/mage_testing/kaiju-private/ewinter-derecho_testing/kaiju-private/testingScripts/run_mage_tests.sh -v -b master      'buildTest.py -sv,ICtest.py -sv,intelChecks.py -sv'" >> /glade/u/home/ewinter/scratch/mage_testing/logs/nightly-tests-1-master.out      2>&1

# Run Fortran unit tests every morning, separately (since they change the
# source tree). Job submission reports to Slack only on failure, repot always
# posts to Slack.
15 00 * * * ssh derecho "/glade/u/home/ewinter/scratch/mage_testing/kaiju-private/ewinter-derecho_testing/kaiju-private/testingScripts/run_mage_tests.sh -v -b development 'unitTest.py -sv'" >> /glade/u/home/ewinter/scratch/mage_testing/logs/nightly-tests-2-development.out 2>&1
# Disable master unit test for now since it hangs.
# 20 00 * * * ssh derecho "/glade/u/home/ewinter/scratch/mage_testing/kaiju-private/ewinter-derecho_testing/kaiju-private/testingScripts/run_mage_tests.sh -v -b master      'unitTest.py -sv'" >> /glade/u/home/ewinter/scratch/mage_testing/logs/nightly-tests-2-master.out      2>&1

# Run a weekly dash every Sunday morning for the development branch and
# compare to reference master and development runs listed in
# reference_runs.txt. Submission only reports to Slack on failure, report
# always posted to Slack. Report only sent to Slack on failure.
25 00 * * 0 ssh derecho "/glade/u/home/ewinter/scratch/mage_testing/kaiju-private/ewinter-derecho_testing/kaiju-private/testingScripts/run_mage_tests.sh -v -b development 'weeklyDash.py -sv'" >> /glade/u/home/ewinter/scratch/mage_testing/logs/weeklyDash-1-development.out 2>&1

# Run the weekly derecho configuration check on Sunday morning. Report only
# sent to Slack on failure.
30 00 * * 0 ssh derecho "/glade/u/home/ewinter/scratch/mage_testing/kaiju-private/ewinter-derecho_testing/kaiju-private/testingScripts/run_mage_tests.sh -v -b master 'derecho_configuration_check.py -sv'" >> /glade/u/home/ewinter/scratch/mage_testing/logs/derecho_configuration_check.out 2>&1

# Run the weekly MAGE reproducibility check check on Sunday morning.
35 00 * * 0 ssh derecho "/glade/u/home/ewinter/scratch/mage_testing/kaiju-private/ewinter-derecho_testing/kaiju-private/testingScripts/run_mage_tests.sh -v -b master 'mage_reproducibility_check.py -sv'" >> /glade/u/home/ewinter/scratch/mage_testing/logs/mage_reproducibility_check.out 2>&1
