<?xml version="1.0"?>
<Kaiju>
    <Chimp>
        <sim runid="RUNID"/>
        <time T0="0.0" dt="60.0" tFin="3600.0"/>
        <fields ebfile="EBFILE" grType="LFM" doJ="T" isMPI="ISMPI"/>
        <parallel Ri="RI" Rj="RJ" Rk="RK"/>
    </Chimp>
</Kaiju>
